# ZSH
alias zshconfig="mate ~/.zshrc"
alias ohmyzsh="mate ~/.oh-my-zsh"
alias ozsh='open ~/.zshrc'
alias szsh='source ~/.zshrc'


# GIT aliases
alias gs='git status'
alias ga='git add -A' 
alias gb='git branch'
alias gc='git clone'
alias gcom='git commit -m'
alias gco='git checkout'
alias gp='git pull'
alias gpr='git pull --rebase'
alias gpu='git push -u origin'
alias gl='git log --oneline --graph --decorate'
alias gst='git stash'
alias gsl='git stash list'
alias gsp='git stash pop'
alias gup='git add . && git commit --amend --no-edit && git push --force-with-lease'
alias guc='git reset --soft HEAD~'



# Easier navigation: .., ..., ...., ..... and ~ 
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~"

#Xcode
alias ios='open -a Simulator'

#terraform
alias trf='terraform'
alias ta='terraform apply'
alias td='terraform destroy'
alias ti='terraform init'
alias tp='terraform plan'

# custom ls
alias ls='ls --color=auto'
alias ll='ls -la'

# path
alias dev='cd ~/Developer'
alias path='echo $PATH | tr ":" "\n"' 

alias wget='wget -c'
alias cat='bat'
alias refresh='source ~/.zshrc'

# node
alias ndev='npm run dev'
alias nstart='npm start'
alias nbuild='npm run build'

alias python='python3'

# shadcn
alias shadcn='npx shadcn-ui@latest add'

# repo
alias cshad='git clone https://github.com/virajbhartiya/shadcn-boilerplate.git client && rm -rf ./client/.git'
alias cserver='git clone https://github.com/virajbhartiya/Server-Boilerplate.git api && rm -rf ./api/.git'

# enable alias to be sudo
alias sudo='sudo '

# get macOS software updates
alias update='sudo softwareupdate -i -a; brew update && brew upgrade && brew cleanup; sudo npm install -g npm; sudo npm update -g'

# IP addresses
alias ip="curl -s ifconfig.me"  # Fetch public IP
alias localip="ip addr show | grep 'inet ' | grep -v '127.0.0.1' | awk '{print \$2}' | cut -d/ -f1"
alias ips="ip addr show"

# Recursively delete `.DS_Store` files
alias cleanup="sudo find . -type f -name '*.DS_Store' -ls -delete"

# Empty the Trash on all mounted volumes and the main HDD.
# Also, clear Apple’s System Logs to improve shell startup speed.
# Finally, clear download history from quarantine. https://mths.be/bum
alias emptytrash="sudo rm -rfv ~/.Trash; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"

# get disc usage
alias du='du -sh *'

# get system uptime
alias uptime="uptime | sed 's/.*up \([^,]*\), .*/\1/'"

# Misc
alias c='clear'
alias h='history'
alias ccd='pwd | pbcopy' # Copy the current directory to the clipboard