[http]
	postBuffer = 524288000
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[user]
	name = Viraj Bhartiya
	email = vlbhartiya@gmail.com
[core]
	editor = nano
